.centeredButtonContainer {
  text-align: center;
}

.categoryTitle {
  text-decoration-style: solid;
  text-decoration-line: underline;
  font-weight: bolder;
  font-size: larger;
  margin: .5em 0 .25em 0;
  display: inline-block;
  color: #565d64;
}




.lightText {
  color: #666;
}

.orderPanelText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  width: 100%;
  height: 100%;
}

.stripedList > li:nth-of-type(odd) {
  background-color: #f9f9f9 ;
}
